<%= content_block_field.fields_for :video_block, content_block.build_video_block do |field| %>
  <div class="field">
    <%= field.text_field :url, placeholder: 'YouTube URL' %>
  </div>

  <div class="field">
    <%= field.rich_text_area :caption, placeholder: 'Caption (optional)', class: 'caption' %>
  </div>
<% end %>