<div class="slides">
  <%= f.fields_for :slides do |field| %>
    <%= render 'admin/content_blocks/slideshow_block/slide', f: field %>
  <% end %>
</div>

<%= f.new_slideshow_slide_button('Add A Slide', type: :image) %>
<%#= f.new_slideshow_slide_button('Add a Video Slide', type: :video) %>
<%#= f.new_slideshow_slide_button('Add a Text Slide') %>